*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
  --accent-color: lab(51.3415% -41.5657 15.3527);
}


.background-image{
     background-image: url("assets/background.png");
    background-size: cover;

}

.site-header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.nav-center-item{
    font-size: 15px;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    margin: 15px;
    width: 80%;
    margin: 20px auto;

}

.nav-center-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: #ffffff;
   
}

.clickable-item{
    cursor: pointer;
}

.nav-right-container{
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.logo{
    height: 23px;
    
}

.filled-button,
.outline-button {
  padding: 8px 16px;
  border-radius: 20px;
}

.filled-button{
    background-color: #ffffff;
    color: #121211;
    border: none;
}

.outline-button{
    background-color: #ffffff15;
    color:  #ffffff;
    border: 1px solid lab(2.42579% -.165291 -.470081 / .15);
}

.hero{
    padding-top: 90px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.hero-svg-icon{
  font-family: FontAwesome;
  font-size: 2.5vh;
  margin-right: 0.3vh;
}

.hero-button{
    background-color: #00000015;
    color:  #ffffff;
    border: none;
    border-radius: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 2vh;
    width: 57vh;
    margin: 6vh;
}

.hero-button-badge{
    background-color: #0c8c5e;
    margin: 0.7vh 0.7vh;
    line-height: 1;
    border-radius: 999px;
    border: none;
    color: #ffffff;
    font-size: 1.7vh;
    
}

.hero-button-text{
    font-size: 2vh;
}


.hero-button-item
{
    padding: 0.7vh;
}

.hero-header{
    color: #ffffff;
    font-size: 6vh;
}

.hero-paragraph{
    margin: 5vh;
    color: #ffffff;
    font-size: 2.5vh;
    max-width: 29.5rem;
    text-align: center;
}

.hero-bottom{
    max-width: 100%;
    position: relative;

}

.hero-searchbar{
    background-color: #cac0c05d;
    border: none;
    border-radius: 999px;
    min-height: 5vh;
    width: 100%;
    padding-left:10px ;

    padding: 2vh;
}

.hero-searchbar::placeholder{
    color: #ffffff8b;
}

.hero-searchbar-button{
    position: absolute;
    right: 0;
    font-size: 2.2vh;
    transform: translateX(-5%);
    top: 8%;
}

.hero-card{
  width: 100%;
  display: block;
}

.hero-card-container{
      margin-top: 9vh;
  border-radius: 20px;
  background: white;
  
  box-shadow:
    400px 380px 105px #ffffff,
   -400px 380px 105px #ffffff; 
  
   overflow: hidden;

}

.logo-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    border: 1 px solid red;
    margin: 11vh;
}

.customer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    size: 2vh;
}

.feature-highlights-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20vh;
}

.feature-highlights-header{
    font-size: 40px;
}

.feature-highlights-paragraph{
    max-width: 36rem;
    text-align: center;
    font-size: 16px;
}

.feature-highlights-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card{
    height: 70vh;
    width: 40%;
    margin: 15px;
    border-radius: 30px;
    border: 2px solid lab(2.42579% -.165291 -.470081 / .07);
}

.feature-top-cards{
    display: flex;
    justify-content: center;

}

.feature-card-text{
    margin: 20px;
}

.feature-card-top-text{
    color: var(--accent-color);
    font-size: 0.75rem;
}

.feature-card-header{
  font-size: 2rem;
}

.feature-card-paragraph{
    font-size: 1rem;
}

.card-image{
  width: 80%;
  height: 100%;
}

.card img {
  max-width: 100%;
  height: auto;
  display: block;
}

.enterprise-features{
    background-color: lab(2.42579% -.165291 -.470081/.03);
    padding: 96px 150px;

}

.enterprise-top-section{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 20px;
   
}

.enterprise-top-section-left{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr 1.2fr;

}

.enterprise-section-bottom-left{
    margin-top: 10px;
}

.enterprise-top-section-right{
    display: flex;
    align-items: flex-end;
    margin-left: 55px;
    margin-bottom: 25px;
}

.feature-blocks{
    display: flex;
    justify-content: center;
    gap: 170px;
    margin-top: 50px;
}


.feature-block-img {
  width: 30px;
  height: auto;
}

.feature-heading{
    margin-top: 20px;
    margin-bottom: 20px;
}

.feature-bottom-paragraph{
    color: lab(2.42579% -.165291 -.470081 / .8);
}

.customer-stories{
    margin-top: 30px;
    border-radius: 30px;
    transition: filter 0.3s ease;
}

.customer-stories:hover{
    filter:brightness(0.8);
}

.customer-story{
    border-radius: 30px;
    position: absolute;
    z-index: -1;
   
}

.customer-story-text-top{
    color: white;
    padding: 70px;
}

.customer-story-text-heading{
    margin-top: 20px;
    margin-bottom: 40px;
}

.customer-story-text-bottom{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 200px;
    gap: 30px;
    padding-bottom: 50px;
    padding-left: 65px;

}

.customer-story-text-bottom-left{
    color: #ffffff;
    padding-bottom: 20px;

}

.customer-story-text-bottom-right{
    color: #ffffff;

}

.customer-buttons{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    padding-top: 70px;
    padding-bottom: 40px;
}

.customer-button{
    cursor: pointer;
    z-index: 5;
}

.customers-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 150px;
}

.customers-top-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.customers-bottom-section{
    display: flex;
    gap:12px;
    width: 70%;
    margin-left: 100px;
}

.customers-bottom-section img{
   width: 350px;
   height: auto;
   border-radius: 20px;


}

.customers-section-text{
   padding-top: 20px;
   padding-bottom: 25px;
   font-size: 14px;
}

.customers-section-bottom-text{
    font-size: 12px;
    color: rgb(106, 101, 101);
}

.customers-section-bottom-text:hover{
    color: var(--accent-color);
    cursor: pointer;

}

.customers-bottom-section{
    transition: filter 0.3s ease;
}

.customer-card:hover{
   filter:brightness(0.8);
}

.arrow-svgs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.final-cta-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    
}

.final-cta-section-heading{
    font-size: 40px;
}

.final-cta-section-text{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1rem;
}

.final-ctas{
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
}

.price-details-icon-card{
    border: 2px solid lab(2.42579% -.165291 -.470081 / .07);
    border-radius: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-details-icon-card img{
    height: 30px;
    width: 30px;
}

.final-cta-section-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-top: 20px;
}

.price-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    
}

.price-details-paragraph{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 15px;
}

.price-details-header{
    padding-top: 30px;
}

.price-details-button{
    font-size: 0.85rem;
    color: var(--accent-color);
}

.footer-card{
    border: 1px solid lab(2.42579% -.165291 -.470081 / .07);
    height:max-content;
    width: 95%;
    margin:23px;
    border-top: 0px;
    margin-top: 0px;
}

.mintlify-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid lab(2.42579% -.165291 -.470081 / .07);
}

.other-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 30px;
}

.footer-grid-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.footer-hr{
    border-color: lab(2.42579% -.165291 -.470081 / .07);
}

.footer-grid-item-heading{
    font-size: 0.9rem;
    color: lab(2.42579% -.165291 -.470081 / .5);
    padding-left: 5px;
}

.footer-grid-link{
    font-size: 0.79rem;
    border-radius: 18px;
    width:fit-content;
    padding: 5px;
}

.footer-grid-link:hover{

    background-color:lab(2.43% -0.12 -0.47 / 0.057);

}



.footer-security-section{
    padding: 50px;
    font-size: 0.8rem;
}

.footer-end{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 70px;
}

.footer-end-text{
    background-color: lab(2.43% -0.12 -0.47 / 0.057);
    border: none;
    border-radius: 30px;
    width:fit-content;
    padding: 10px;
    font-size: 0.8rem;
}

.footer-end-center{
    font-size: 0.8rem;

}

.footer-end-right{
     background-color: lab(2.43% -0.12 -0.47 / 0.057);
     border: none;
     border-radius: 30px;
     display: flex;
     align-items: center;
     gap: 8px;
}

.footer-end-right-icon{
   font-size: 0.8rem;
}