:root{
    --accent-color: #edecec;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: CursorGothic, sans-serif;
    color: var(--accent-color);
}


body{
    background-color: #14120b;
}

.outline-button{
    color: var(--accent-color);
    border: 1px solid rgb(174, 171, 171);
    border-radius: 30px;
    padding: 8px 14px;
    
}

.filled-button{
    background-color: var(--accent-color);
    border-radius: 30px;
    padding: 8px 14px;
    color: #14120b;

}

.site-header{
  position: fixed;
  background-color: #14120b;
}
 

.site-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 13px 25px;
    gap: 210px;
     

}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nav-center{
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-links{
    padding: 0px 24px;
    text-decoration: none;
    color: var(--accent-color);
    font-family: inherit;
    font-size: 21px;
}

.hero{
    padding: 170px 30px 65px;
}

.hero-header{
  font-weight: 500;
  line-height: 1.2;
  max-width: 900px;
  text-wrap: balance;
  margin-bottom: 25px;
  font-size: 38px;
}

.hero-top{
    margin-bottom: 75px;
}

.hero-bottom{
    width: 100%;
    border-radius: 20px;
}

.hero-bottom img{
    border-radius: 20px;
    width: 100%;
}

.trusted-by{
    margin: 0px 30px 60px;
}

.trusted-by-paragraph{
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
}

.logos-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
}

.logo-card{
    background-color: #1b1913;
    height: 65px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px;
}

.logo-card img{
    height: 50px;
    width: auto;
}

.feature-section{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: 1fr;
    padding-bottom: 70px;
}

.feature-card{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.feature-card,
.usecase-card{
    height: 900px;
    background-color: #1b1913;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
}

.feature-card-reverse-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows:1fr;
}

.feature-card-image{
    height: 100%;
    width: 100%;
    padding: 30px;
    
}

.feature-card-image img{
    height: 100%;
    width: 100%;
    border-radius: 9px;
}

.feature-card-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 30px;
}

.h3-heading {
    font-weight: 500;
    font-size: 40px;
    text-wrap: pretty;
}

.feature-card-paragraph{
    padding-top: 8px;
    font-size: 37px;
    text-wrap: pretty;
    color: rgb(119, 118, 118);
}

.feature-card-cta{
    padding-top: 26px;
    font-size: 26px;
    color: rgb(247, 3, 3);
}

.testimonial-section{
    padding: 70px 20px;

}

.testimonial-header{
    text-align: center;
    font-weight: 500;
    font-size: 50px;
}

.testimonial-cards{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.testimonial-card{
    margin: 10px;
    padding-left: 17px;
    background-color: #1b1913;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    
}

.testimonial-card-text{
    font-size: 22px;
    text-wrap: balance;
    padding: 10px;
}

.testimonial-by{
   display: flex;
   gap: 10px;
   padding: 15px;
}

.testimonial-by img{
    height: 60px;
}

.testimonial-by-brand{
    font-weight: 100;
    font-size: 20px;
}

.testimonial-by-name{
   font-weight: 100;
    font-size: 20px;
}

.use-case{
    margin: 90px 20px;
}

.usecase-card{
    padding: 20px;
    margin: 30px 0px;
}

.usecase-image{
    padding: 20px 0px;
    border-radius: 10px;
    height: 80%;
    overflow: hidden;

}

.usecase-image img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.changelog{
    margin: 200px 20px 0px 20px;
}

.change-info-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    margin-top: 40px;
}

.change-info-card{
    background-color: #1b1913;
    height: 200px;
    width: 332px;
    padding: 25px;
}

.change-info-card-top{
    font-size: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
}

.version-pill{
    color: rgb(119, 118, 118);
    border: 2px solid rgb(119, 118, 118);
    border-radius: 30px;
    padding: 2px 15px;
}

.change-date{
    color: rgb(119, 118, 118);
    font-size: 25px;
}

.change-description{
    font-size: 23px;
}

.about-team{
    margin-top: 150px;
    margin-bottom: 300px;
}

.final-cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-bottom: 100px;
}

.final-cta-text{
    font-size: 120px;
    font-weight: 500;
}

.final-cta-button{
    font-size: 30px;
    font-weight: 200;
    border-radius: 80px;
    padding: 15px 40px;
    margin: 30px;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 30px;
}

.footer-grid-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    line-height: 1.7;
}

.footer-grid-item-heading{
  font-weight: 500;
  color:  rgb(119, 118, 118);
    
}

.footer-end{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 100px;
    margin-bottom: 70px;
}

.footer-end-left{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 22px;
}

.footer-end-left-text{
  color:  rgb(119, 118, 118);
}

.footer-end-center{
    font-size: 0.8rem;

}

.footer-end-right{
     background-color: lab(2.43% -0.12 -0.47 / 0.057);
     border: none;
     border-radius: 30px;
     display: flex;
     align-items: center;
     gap: 8px;
}

.footer-end-right-icon{
   font-size: 0.8rem;
}

